<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<h1><%= @title %> <span class="year">(<%= @year %>)</span></h1>
<img src='<%= @poster %>'>
<p><%= @plot %></p>
<h4>Director: <%= @director %></h4>
<h4>Staring: <%= @actors %> </h4>
<h4></h4>
    <p><%= @result %></p>

</body>
</html>